<section class="pizza-form">
  <div class="form-wrapper">
    <header>
      <h2>Pizza Form</h2>
    </header>
    <h5><%= messages.error %></h5>
    <form action="/pizzas" method="POST" enctype="multipart/form-data">
      <div class="file-form">
        <label for="avatar">Pizza</label>
        <input type="file" name="avatar" id="avatar" />
      </div>
      <div class="name-form">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%= messages.name %>" />
      </div>
      <div class="price-form">
        <label for="price">Price</label>
        <input
          type="number"
          name="price"
          id="price"
          value="<%= messages.price %>"
        />
      </div>
      <div class="size-form">
        <label for="size">Size</label>
        <input type="text" name="size" id="size" value="<%= messages.size %>" />
      </div>
      <button type="submit">Create Pizza</button>
    </form>
  </div>
</section>
